<!DOCTYPE html>

<html>
    <head>
        <title>Layout Adaptável e Responsivo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilo.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
          <header>
        <h1>Layout Adaptável e Responsivo</h1>
        <h2>Utilizando CSS Media Queries</h2>
      
            <p id="medidas">
                Largura: <span id="largura"></span>
                Altura: <span id="altura"></span>
            </p>
            <p class="horizontal">Modo Paisagem</p>
            <p class="vertical">Modo Retrato</p>
            <script src="js/medidas.js"></script>
        </header>
      
        <section>
              <h1>Eleições 2014</h1>
            <h2>Situação</h2>
            
            <figure>
                <img src="http://goo.gl/ojrOC1" alt="Dedo indicador esquerdo para sua própria cabeça"/>
                <figcaption><a href="" >Dedo indicador esquerdo para própria cabeça</a></figcaption>
                
            </figure>
            
            <figure>
                <img src="http://goo.gl/CPyTGt" alt="OK"/>
                <figcaption><a href="" >OK</a></figcaption>
            </figure>
            
            <figure>
                <img src="http://goo.gl/12ZTLA" alt="braço direito"/>
                <figcaption><a href="" >Braço direito</a></figcaption>
            </figure>
            
            <figure>
                <img src="http://goo.gl/xWv2Iy" alt="Apontando dedo indicador"/>
                <figcaption><a href="" >Apontando dedo indicador</a></figcaption>
            </figure>
            
            <figure>
                <img src="http://goo.gl/qCIIN2" alt="Dilma falando bolada"/>
                <figcaption><a href="" >Dilma falando bolada</a></figcaption>
                
            </figure>
            
            <figure>
                <img src="http://goo.gl/fdZfDZ" alt="Dilma conspirando"/>
                <figcaption><a href="" >Dilma conspirando</a></figcaption>
            </figure>
            
             <figure>
                <img src="http://goo.gl/l4wy1W" alt="RAWR"/>
                <figcaption><a href="" >RAWR</a></figcaption>
            </figure>
            
            <figure>
                <img src="http://goo.gl/u1PKA3" alt="Joinha pra Fidel"/>
                <figcaption><a href="" >Joinha pra Fidel</a></figcaption>
                
            </figure>
            
            <figure>
                <img src="http://goo.gl/JrHaxi" alt="Rachei"/>
                <figcaption><a href="" >Rachei</a></figcaption>
            </figure>
            
            <h2 class="final">Oposição</h2>
            <!---->
            <figure>
                <img src="http://goo.gl/2n8IMA" alt="Aécio sorrindo um"/>
                <figcaption><a href="" >Aécio sorrindo um</a></figcaption>
                
            </figure>
            
            <figure>
                <img src="http://goo.gl/U5xVql" alt="Aécio sorrindo dois"/>
                <figcaption><a href="" >Aécio sorrindo dois</a></figcaption>
            </figure>
            
            <figure>
                <img src="http://goo.gl/zdBgDT" alt="Aécio sorrindo três"/>
                <figcaption><a href="" >Aécio sorrindo três</a></figcaption>
            </figure>
            
            <figure>
                <img src="http://goo.gl/yq0srf" alt="Aécio sorrindo quatro"/>
                <figcaption><a href="" >Aécio sorrindo quatro</a></figcaption>
            </figure>
            
            <figure>
                <img src="http://goo.gl/xekTHa" alt="Aécio sorrindo cinco"/>
                <figcaption><a href="" >Aécio sorrindo cinco</a></figcaption>
                
            </figure>
            
            <figure>
                <img src="http://goo.gl/ZcMn89" alt="Aécio sorrindo seis"/>
                <figcaption><a href="" >Aécio sorrindo seis</a></figcaption>
            </figure>
            
             <figure>
                <img src="http://goo.gl/QsOXc8" alt="Aécio sorrindo sete"/>
                <figcaption><a href="" >Aécio sorrindo sete</a></figcaption>
            </figure>
            
            <figure>
                <img src="http://goo.gl/QNzsAL" alt="Aécio sorrindo oito"/>
                <figcaption><a href="" >Aécio sorrindo oito</a></figcaption>
                
            </figure>
            
            <figure>
                <img src="http://goo.gl/Doi6KL" alt="Aécio sorrindo nove"/>
                <figcaption><a href="" >Aécio sorrindo nove</a></figcaption>
            </figure>
             <br class="final">
        </section>
    </body>
</html>
