

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/10/2014, 15:59:44
    Author     : Victor
*/
@media screen and (orientation: portrait) {
    /*Modo retrato = vertical */
    .horizontal{display: none;}
    .vertical{display:block;}
}
body{background-color: black;color: white;}
@media screen and (orientation: landscape) {
    /*Modo retrato =  vertical*/
    .horizontal{display: block;}
    .vertical{display:none;}
}



@media screen and (min-width:1093px){
    section{
        display: block;
        margin: 0 auto;
        width: 1230px;
        border:2px white solid;
        padding-left: 50px;
    }
    figure{
        width: 390px;
        height: 300px;
        float: left;
        border:2px white solid;
        margin: 5px;

    }
  
}

@media screen and (min-width:800px) and (max-width:1279px){
  section{
        display: block;
        margin: 0 auto;
        width: 800px;
        border:2px yellow solid;
        padding-left: 50px;
    }
    figure{
        width: 350px;
        height: 280px;
        float: left;
        border:2px yellow solid;
        margin: 5px;

    }
}

@media screen and (max-width:799px){
section{
        display: block;
        margin: 0 auto;
        width: 640px;
        border:2px greenyellow solid;
        padding-left: 50px;
    }
    figure{
        width: 450px;
        height: auto;
        float: left;
        border:2px greenyellow solid;
        margin: 5px;

    }
}

  img{width: 90%;
        height: 90%;
        display: block;
        margin: 5% auto;
    }
    figcaption{
        background-color: rgba(240,240,240,0.4);
        color: black;
        height: 30px;
        position: relative;
        bottom: 50px;
        text-align: center;
        width: 95%;
        margin: 0 auto;
    }
    
    .final {
        clear: both;
}
figcaption a{text-decoration: none;color: black;}
figcaption a:hover{color: yellow;}
figcaption:hover{background-color: rgba(0,0,0,0.4);transition: 1s;}